.table-rc-one .rdt_TableCol{
    border: 0.5px solid #DEE2E6;
}

.table-rc-one .rdt_TableCell{
    border: 0.5px solid #DEE2E6;
}

.table-rc-two .rdt_TableCol{
    border: 0.5px solid #DEE2E6;
}

.table-rc-two .rdt_TableCell{
    border: 0.5px solid #DEE2E6;
}


.table-rc-three .rdt_TableCol{
    border: 0.5px solid #DEE2E6;
}

.table-rc-three .rdt_TableCell{
    border: 0.5px solid #DEE2E6;
}



.table-st-one .rdt_TableCol{
    border: 0.5px solid #DEE2E6;
}

.table-st-one .rdt_TableCell{
    border: 0.5px solid #DEE2E6;
}

.table-st-two .rdt_TableCol{
    border: 0.5px solid #DEE2E6;
}

.table-st-two .rdt_TableCell{
    border: 0.5px solid #DEE2E6;
}


.table-st-three .rdt_TableCol{
    border: 0.5px solid #DEE2E6;
}

.table-st-three .rdt_TableCell{
    border: 0.5px solid #DEE2E6;
}